header, section, footer, aside, nav, article, figure, figcaption {
		display: block;}
body {
		background-color: #fff;
		color: #000000;
		background-image: url("images/MentalModel.png"); /* Background image will be updated to reflect "Risk Management" instead of "Safety". Waiting on Tyler Hatland. */
		background-position: -250px -250px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family: "Century Gothic", sans-serif;
		line-height: 1.4em;
		margin: 0px;}

.results-page {
	background-color: white;
	background-image: none;
}

.wrapper {
		width: 50%;
		background-color: hsla(0, 0%, 100%, 0.9);
		border: none;
		margin: auto;
		}

header {
		padding-top: 50px;
		
		}

hr {
		margin: 15px;
	}

img.logo {
		width: 50%;
		height: 50%;
		}

img.curve {
	width: 100%;
	height: 100%;
}

h2.CA {
	text-transform: uppercase;
	margin-top: 20px;
	font-weight: regular;
	color: #ff0000;
	font-size: 2em;
	line-height: 1em;
	}

hr.CA {
		border-top: 3px solid #ff0000;
	}

h2.RC {
		text-transform: uppercase;
		margin-top: 20px;
		font-weight: regular;
		color: #6a00dc;
		font-size: 2em;
		line-height: 1em;
		}

hr.RC {
		border-top: 3px solid #6a00dc;
	}

h2.SS {
		text-transform: uppercase;
		margin-top: 20px;
		font-weight: regular;
		color: #2eb800;
		font-size: 2em;
		line-height: 1em;
		}	

hr.SS {
		border-top: 3px solid #2eb800;
	}

h2.HB {
		text-transform: uppercase;
		margin-top: 20px;
		font-weight: regular;
		color: #000000;
		font-size: 2em;
		line-height: 1em;
		}	

hr.HB {
		border-top: 3px solid #000000;
	}

h2.PE {
		text-transform: uppercase;
		margin-top: 20px;
		font-weight: regular;
		color: #995f39;
		font-size: 2em;
		line-height: 1em;
		}	

hr.PE {
		border-top: 3px solid #995f39;
	}

h2.SC {
		text-transform: uppercase;
		margin-top: 20px;
		font-weight: regular;
		color: #0000ff;
		font-size: 2em;
		line-height: 1em;
		}	

hr.SC {
		border-top: 3px solid #0000ff;
	}

article {
		overflow-x: hidden;
		overflow-y: auto;
		width: 80%;
		padding: 20px;
	}

img.Hexagon {
		float: right;
		width: 40%;
		height: 40%;
		}

a {
		color: #de6581;
		text-decoration: none;
	}

h1, h2, h3 {
		font-weight: normal;
	}

h2 {
		margin: 10px 0px 5px 0px;
		}

h3 {
		margin: 0px 0px 10px 0px;
		color: #2eb800;
	}

footer {
		color: #000000;
		text-align: center;
		font-size: 80%;
		padding: 10px 0px 20px 0px;
	}

h1, h2, h3, p {
		padding-left: 15px;
		display: block;
		line-height: 1.5em;
		}

.sticky {
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 0;
		background: #fff;
		height: 100%;
		width: 100%;
		padding: 0;
		margin: auto;
		text-align: center;
		z-index: 100;
	  }

.sticky img {
	width: 100%;
}



.grid-container {
	display: grid;
    grid-template-columns: auto auto auto;
    margin-top: -20%;
  }

.grid-item {
    padding: 0px;
    font-size: .5em;
  }

.grid-item p {
	  padding: 0px;
	  margin-top: auto auto;
  }

.Q6 {
	  text-align: center;
      margin-top: -20%;
      margin-left: -50%;
      transform: rotate(300deg);

  }

.Q1 {
		text-align: center;
        margin-top: -100%;

}

.Q2 {
	text-align: center;
    margin-top: -20%;
    margin-right: -50%;
    transform: rotate(60deg);
}

.Q3 {
    position: absolute;
	text-align: center;
    margin-top: 4%;
    margin-left: 2%;
    transform: rotate(300deg);
}

.Q5 {
    position: absolute;
	text-align: center;
    margin-top: 4%;
    margin-left: -2%;
    transform: rotate(60deg);
}

.Q4 {
position: absolute;
text-align: center;
margin-top: 10%;


}

.Avg {
  position: absolute;
  top: 45%;
  left: 42%;
  font-size: .8em;
  display: flex;
  z-index: 3;
}

/* .aspect-ratio-box {
    height: 0;
    overflow: hidden;
    padding-top: 591.44px / 1127.34px * 100%;
    background: white;
    position: relative;
  } */

  .aspect-ratio-box-inside-CA {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
	height: 100%;
    background: url('images/CA_Results.png') no-repeat center center ;
    background-size: contain;
  }

  .aspect-ratio-box-inside-RC {
	position: absolute;
	margin-top: 200px;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/RC_Results.png') no-repeat center center ;
    background-size: contain;
  }

  .aspect-ratio-box-inside-SS {
    position: absolute;
	top: 200%;
	margin-top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/SS_Results.png') no-repeat center center ;
    background-size: contain;
  }

  .aspect-ratio-box-inside-HB {
    position: absolute;
	top: 300%;
	margin-top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/HB_Results.png') no-repeat center center ;
    background-size: contain;
  }

  .aspect-ratio-box-inside-PE {
    position: absolute;
	top: 400%;
	margin-top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/PE_Results.png') no-repeat center center ;
    background-size: contain;
  }

  .aspect-ratio-box-inside-SC {
    position: absolute;
	top: 500%;
	margin-top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/SC_Results.png') no-repeat center center ;
    background-size: contain;
  }

  .flexbox-centering {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .viewport-sizing {
    font-size: 5vw;
  }


  .results-scale {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 100%;
	left: auto;
	background: #fff;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: auto;
	text-align: center;
	z-index: 100;
  }

.results-scale img {
width: 50%;
}